<div class="demo-divider">
	<div class="bg">
		{{#if demo_text_title}}
		<!-- Text Component -->
		<div class="container">
			<h4>{{ demo_text_title }}</h4>
			{{{ demo_text }}}
		</div>
		{{/if}}
	</div>
</div>