/*
--------------------------------------------------
    Forms
-------------------------------------------------- 
*/

/*
    Global Forms
--------------------------------------------------
*/
form{
  .btn{
    margin-top: 20px;
  }
}
.mktoFormRow,
.form-group {
  margin-bottom: 20px;

  label{
    margin-bottom: 5px;
    display: block;

  }
}

.mktoField,
.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 1.42857;
  color: #555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #ffffff;
  border-radius: 0;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.0);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

  &:focus{
    border-color: $red;
    outline: 0;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.0), 0 0 0 rgba(0, 0, 0, 0);
  }
}

.red-bg,
.blue-bg,
.dark-blue-bg,
.dark-blue-grey-bg,
.dark-grey-bg,
.darker-grey-alt-bg,
.darker-grey-bg{
    form{
      color: #ffffff !important;
    }
}

/*
    Marketo
--------------------------------------------------
*/
#tco-calc-form{
  .mktoForm{
    width: 100% !important;

    .mktoHtmlText{
      display: none;
    }

    .mktoLabel,
    .mktoField{
      width: 100% !important;
    }

    .mktoButtonRow{
      .mktoButtonWrap{
        margin-left: 0 !important;
        text-align: center;
        display: block;

        .mktoButton{
          display: inline-block;
          border: none !important;
        }
      }
    }
  }
  .mktoForm .mktoFormCol,
  .mktoForm .mktoFieldWrap{
    float: none !important;
  }

  .mktoForm input[type=text],
  .mktoForm input[type=url],
  .mktoForm input[type=email],
  .mktoForm input[type=tel],
  .mktoForm input[type=number],
  .mktoForm input[type=date],
  .mktoForm select.mktoField,
  .mktoForm textarea.mktoField{
    -webkit-appearance: none;
    background-color:#fff;
    line-height:1.5em;
    color:#000;
    border: none !important;
    padding:0.2em 0.3em;
    box-shadow: 0px 0px 0px 0px transparent !important;
    min-height:1.9em;
    font-size: 18px !important;
    font-family: $font-family-sans-serif !important;
  }
  .mktoForm input[type=text]:focus,
  .mktoForm input[type=url]:focus,
  .mktoForm input[type=email]:focus,
  .mktoForm input[type=tel]:focus,
  .mktoForm input[type=number]:focus,
  .mktoForm input[type=date]:focus,
  .mktoForm select.mktoField:focus,
  .mktoForm textarea.mktoField:focus{
    outline:none;
    border:0 solid #888 !important;
    color:#000;
    
  }
  .mktoForm .mktoAsterix {
      float: left;
      color: $red;
      padding-right: 5px;
      font-size: 150%;
      display: inline-block;
  }
}

/* Other Marketo Forms */
[data-component-name="marketo-form"]{

    .mktoForm{
        width: 100% !important;

        .mktoFormRow{
            width: 100% !important;
            float: none !important;

            .mktoFormCol{
                width: 100% !important;

                .mktoFieldWrap{
                    float: none !important;

                    .mktoLabel{
                        width: 100% !important;
                        margin-bottom: 5px !important;
                        font-size: 16px !important;
                    }
                    .mktoField{
                        width: 100% !important;
                        height: 40px !important;
                        padding: 8px 12px !important;
                        font-size: 16px !important;
                        line-height: 1.42857 !important;
                        color: rgb(85, 85, 85) !important;
                        background-color: rgb(255, 255, 255) !important;
                        background-image: none !important;
                        border: 1px solid rgb(255, 255, 255) !important;
                        border-radius: 0 !important;
                        box-shadow: inset 0 0 0 rgba(0, 0, 0, 0) !important;
                        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
                        width: 100% !important;
                        display: block !important;
                    }
                    
                }
            }
            
        }

        .mktoButtonRow{
            .mktoButtonWrap{
                display: block !important;
                margin-top: 15px;

                button{
                    color: rgb(255, 255, 255);
                    background-color: rgb(13, 174, 205);
                    border-color: rgb(204, 204, 204);
                    display: inline-block;
                    margin-bottom: 0;
                    font-weight: normal;
                    text-align: center;
                    vertical-align: middle;
                    -ms-touch-action: manipulation;
                    touch-action: manipulation;
                    cursor: pointer;
                    background-image: none;
                    border: 1px solid rgba(0, 0, 0, 0);
                    white-space: nowrap;
                    padding: 6px 12px;
                    font-size: 16px;
                    line-height: 1.42857;
                    border-radius: 0;
                    user-select: none;
                    display: block !important;
                    text-transform: uppercase;
                    padding-left: 30px;
                    padding-right: 30px;

                    &:focus,
                    &:hover {
                        color: rgb(255, 255, 255);
                        background-color: rgb(10, 133, 157);
                        border-color: rgb(173, 173, 173);
                    }
                }
            }
        }
    }
}

/*
    Select
--------------------------------------------------
*/
.select-wrapper{
  position: relative;
  background-color: #ffffff;

  select{
    position: relative;
    background-color: transparent;
    z-index: 2;
    cursor: pointer;

    -webkit-appearance: none;
    // appearance: none;

    &:focus{
      // border-color: transparent;
      // outline: 0;
      // box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.0), 0 0 0 rgba(0, 0, 0, 0);
    }
  }

  &:after {
    z-index: 1;

    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    text-indent: 0px;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    vertical-align: initial;
    content: "\f0d7";

    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    background-color: #ffffff;
    color: $blue;

  }

  &:focus{
    // border-color: $red;
    // outline: 0;
    // box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.0), 0 0 0 rgba(0, 0, 0, 0);

    &:after {
      color: $red;
    }
  }

  &:hover{
    
  }
}
/*
    Required Mark
--------------------------------------------------
*/
.required-mark{
  font-weight: 300;
}

/*
    Responsive (mobile first)
    XS: 480px | SM: 768px | MD: 992px | LG: 1200px
--------------------------------------------------
*/

/* SM Phone */
@media(min-width: $breakpoint_sm){
    
}
@media(max-width: ( $breakpoint_md - 1) ) {

}
/* MD Tablet */
@media(min-width: $breakpoint_md){
    
}
/* LG Desktop */
@media(min-width: $breakpoint_lg){

}
