<!-- Asset Search -->
<div class="asset-search" style="background-image: url(../img/fire.jpg)">

	<div class="as-container">
		
		<div class="as-row">

			<div class="search-form-box">

				<img src="../img/sunpower-logo.png">

		        <!-- Search Form -->
		        <form class="search-form" id="searchform" name="searchform">
		            
		            <input type="text" id="q" name="q" value="" class="yui-ac-input" autocomplete="off">
		            
		            <input type="submit" value="Search">

		        </form>

		    </div>

	    </div>

	</div>

</div>